* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding-left: 118px;
  padding-right: 118px;
}

main {
  display: grid;
  grid-template-rows: repeat(3, 700px);
  gap: 20px;
}

.row-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}